<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="og:site_name" content="Blog"/>
        <link rel="canonical" href="https://your-website-url.com"/>
        <meta name="twitter:url" content="https://your-website-url.com"/>
        <meta name="og:url" content="https://your-website-url.com"/>
        <title>Welcome to Blog! | Blog</title><meta name="twitter:title" content="Welcome to Blog! | Blog"/>
        <meta name="og:title" content="Welcome to Blog! | Blog"/>
        <meta name="description" content="A description of Blog"/>
        <meta name="twitter:description" content="A description of Blog"/>
        <meta name="og:description" content="A description of Blog"/>
        <meta name="twitter:card" content="summary"/>
        <link rel="stylesheet" href="/styles.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png"/>
        <link rel="alternate" href="/feed.rss" type="application/rss+xml" title="Subscribe to Blog"/>
    </head>
    <body>
        <header class="header">
            <div class="container content-restriction">
                <a href="/" class="header-logo">
                    <h2>LiteCode</h2>
                    <h2 class="subtitle">Blog</h2>   
                </a>
            </div>
        </header>
        <div class="container collection content-restriction safe-area-insets">
            <article class="article-item-new">
            <a href="/posts/first-post/index.html">
                <img src="/images/1.jpg">
                <div class="article-item-new-content">
                    <div class="article-item-new-header">
                        <h1>
                            Очень большой заголовок который может не вместиться
                        </h1>

                        <span class="article-item-new-sign">
                            NEW
                        </span>
                    </div>
                    <h3 class="article-item-new-subtitle">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                </div>
            </a>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Очень большой заголовок который может не вместиться
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>

                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>

            <article class="article-item">
                <img src="/images/1.jpg">
                <div class="article-item-content">
                    <h3>
                        Заголовок
                    </h3>
                    <div class="article-item-info">
                        <ul class="tags">
                            <li class="variant-d">
                                <a>Animation</a>
                            </li>
                            <li class="variant-с">
                                <a>UI</a>
                            </li>
                            <li class="variant-a">
                                <a>SwiftUI</a>
                            </li>
                        </ul>

                        <p class="article-date">25.01.2020</p>
                    </div>
                    
                    <p class="article-item-description">
                        Очень не длинный текст, потому что это превью так то и не нужно иметь большой текст
                    </p>
                </div>
            </article>
        </div>
        <footer class="footer">
            <div class="footer-container content-restriction">
                <hr/>
                <div class="about_me">
                        <img src="https://pbs.twimg.com/profile_images/1234771678326149122/f25YEoCJ_400x400.jpg" alt="Vladislav Prusakov Profile Picture" class="avatar">

                        <div class="author_info">
                        <p>
                            Written By
                        </p>
                        <h2>
                            Vladislav Prusakov
                        </h2>
                        <p>
                            LiteCode owner, iOS Engineer
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>