/* Imports */

@import "tags.css";
@import "codesyntax.css";
@import "socials.css";

:root {
    --dark: #000;
    --light: #FFF;
    --glyph-gray: #F5F5F7;
    --glyph-gray-override: #1D1D1F;
    --glyph-gray-secondary: #86868B;
    --glyph-gray-secondary-alt: #A1A1A6;
    --glyph-gray-tertiary: #6E6E73;
    --glyph-blue: #2997FF;
    --glyph-blue-override: #0066CC;
    --glyph-orange: #F56300;
    --glyph-red: #FF3037;
    --glyph-green: #03A10E;
    --background-dark: #1D1D1D;
    --background-dark-secondary: #111111;
    --fill: #000;
    --fill-override: #FFF;
    --fill-gray: #F5F5F7;
    --fill-blue: #0071E3;
    --fill-orange: #F56300;
    --fill-red: #FF3037;
    --fill-green: #03A10E;
    --fill-yellow: #AD8200;
    --fill-secondary: #161617;
    --fill-secondary-alt: #141414;
    --fill-secondary-alt-override: #FAFAFA;
    --fill-blue-secondary: #162B5B;
    --fill-gray-secondary: #6E6E73;
    --fill-gray-secondary-alt: #141414;
    --color-fill-green-secondary: #002b03;
    --color-fill-light-blue-secondary: #002a51;
    --color-fill-light-gray-secondary: #323232;
    --color-fill-orange-secondary: #290d00;
    --color-fill-purple-secondary: #190325;
    --color-fill-red-secondary: #300;
    --color-fill-teal-secondary: #002d2b;
    --color-fill-yellow-secondary: #2b2000;
    --fill-tertiary: #1D1D1F;
    --fill-tertiary-alt: #111;
    --fill-tertiary-override: #F5F5F7;
    --fill-blue-tertiary: #081021;
    --fill-gray-tertiary: #424245;
    --fill-gray-quaternary: #333336;
    --fill-gray-quinary: #222;
    --fill-blue-gradient-light: #0E3768;
    --fill-blue-gradient-dark: #07172A;
    --fill-gradient-gray-start: #161616;
    --fill-gradient-gray-end: #000;
    --fill-table: #1D1D1F;
    --app-store-glyph-tile: #EEE;
    --app-store-fill-tile: #1f1f21;
    --applemusic: #FF2D55;
    --toggle-color-background: #1D1D1F;
    --toggle-color-text: #0071E3;
    --color-button-background: #0071E3;
    --color-button-text: #FFFFFF;
    --color-figure-blue: #2997ff;
    --color-figure-gray: #f5f5f7;
    --color-figure-gray-secondary: #86868b;
    --color-figure-gray-secondary-alt: #a1a1a6;
    --color-figure-gray-tertiary: #6e6e73;
    --color-figure-green: #03a10e;
    --color-figure-light-blue: #7dc1ff;
    --color-figure-light-gray: #9a9a9e;
    --color-figure-orange: #f56300;
    --color-figure-pink: #f14bf1;
    --color-figure-purple: #a95ed2;
    --color-figure-red: #ff3037;
    --color-figure-teal: #00c2bb;
    --color-figure-yellow: #936d00;
    --color-highlight-green: #e4fee6;
    --color-highlight-red: #f8dddd;
    --color-tutorials-teal: #38a39c;
    --color-aside-deprecated: var( --color-figure-orange);
    --color-aside-deprecated-background: var( --color-fill-orange-secondary);
    --color-aside-deprecated-border: var( --color-figure-orange);
    --color-aside-experiment: var( --color-figure-purple);
    --color-aside-experiment-background: var( --color-fill-purple-secondary);
    --color-aside-experiment-border: var( --color-figure-purple);
    --color-aside-important: var( --color-figure-yellow);
    --color-aside-important-background: var( --color-fill-yellow-secondary);
    --color-aside-important-border: var( --color-figure-yellow);
    --color-aside-note: var( --color-figure-light-gray);
    --color-aside-note-background: var( --color-fill-light-gray-secondary);
    --color-aside-note-border: var( --color-figure-light-gray);
    --color-aside-tip: var( --color-figure-teal);
    --color-aside-tip-background: var( --color-fill-teal-secondary);
    --color-aside-tip-border: var( --color-figure-teal);
    --color-aside-warning: var( --color-figure-red);
    --color-aside-warning-background: var( --color-fill-red-secondary);
    --color-aside-warning-border: var( --color-figure-red);
}

/* Fonts */

@font-face {
    font-family: "Code";
    src: url(/Fonts/JetBrainsMono-Regular.ttf);
}

/* Global */

a {
    text-decoration: none!important;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #342E37;
}

h1 {
    font-size:40px
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* Styles */

.separator {
    border-top: 0.5px solid rgba(0,0,0,0.1);
}

.content-restriction {
    max-width: 100%;
}

.safe-area-insets {
    margin-top: 80px;
    margin-bottom: 32px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.collection {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 0.4fr) );
    grid-auto-rows: min-content;
    grid-gap: 20px;
    grid-template-rows: auto;
}

.header {
    width: 100%;
    height: 56px;
    max-height: 56px;
    z-index: 9999;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    right: 0;
    left: 0;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.6); /* white */
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter:saturate(180%) blur(20px)
}

.header h2 {
    margin: 0;
}

.header-logo {
    display: inline-flex;
    cursor: pointer;
    padding: 6px 0px;
}

.header-logo .subtitle {
    font-weight: 200;
    margin-left: 8px;
}

.footer {
    width: 100%;
    height: 48px;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.article-footer {
    padding-top: 20px;
}

.article-footer .tags li {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 7px;
}

.written_by {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.written_by h3 {
    font-size: 0.85em;
    color: #9299A2;
    margin-bottom: 20px;
}

.about_author_container {
    display: inline-flex;
}

.author_info {
    display: inline;
    margin: auto 20px;
}

.author_info p {
    margin: 0;
    color: #333333;
}

.author_info h2 {
    margin: 2px 0px;
    padding: 6px auto;
    color: #f79e05;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Articles */

.article-item-new {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
}

.article-item-new-header {
    display: flex;
}

.article-item-new-sign {
    display: block;
    float: left;
    padding: 3px 6px;
    font-size: 0.65em;
    border-radius: 8px;
    margin: 8px 8px auto 8px;
    background-color: #FFE066;
}

.article-item-new-subtitle {
    padding: 8px 0px;
}

.article-date {
    font-size: 14px;
    color: #919785;
    margin: 8px 0px;
}

.article-item-new-content {
    padding-left: 16px;
    display: inline-block;
    margin: auto;
}

.article-item-new-content .tags li {
    font-size: 1em;
}

.article-item-new h3 {
    margin: 0;
}

.article-item-new h1 {
    margin: 8px 0px;
}

.article-item-new img {
    width: 100%;
    min-height: 20em;
    max-height: 30em;
    object-fit: cover;
    border-radius: 8px;
}

.article-item-new:hover {
    text-decoration: none !important;
    cursor:pointer
}

.article-item-new:hover h1 {
    text-decoration: underline !important;
    cursor:pointer
}

.article-item-description {
    margin: 0;
}

.article-item:hover {
    cursor: pointer!important;
}

.article-item h3 {
    color: #001732;
    font-size: 20px;
    margin: 8px 0px;
}

.article-item {
    position: relative;
    display: block;
    object-fit: cover;
    box-shadow: none;
    border-radius: 8px;
    background-color: var(--fill-gray);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.article-item-info {
    display: flexbox;
    justify-content: space-between;
    margin: 0;
}

/* Fade in the pseudo-element with the bigger shadow */
.article-item:hover::after {
    opacity: 1;
}

.article-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.article-item-content {
    padding: 0 16px 16px 16px;
}

/* Tags */

.tags {
    overflow: hidden;
    font-size: 0.9em;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

.tags li {
    display: block;
    float: left;
    padding: 3px 6px;
    margin-right: 10px;
    font-size: 0.85em;
    border-radius: 8px;
    margin-bottom: 7px;
}

article .tags {
    display: flex;
    margin-bottom: 5px;
}

.tags a {
    cursor: pointer;
}

.tag-in-search {
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 3px 6px;
    margin-right: 10px;
}

/* Article */

article twitter-widget {
    margin-left: auto;
    margin-right: auto;
}

article img {
    max-width: 100%;
    max-height: 100%;
}

article .article-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

article .article-image p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #9299A2;
    
}

article p {
    margin-top: 20px;
    font-size: 1.05em;
    line-height: 1.5;
}

article blockquote {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-left: 0.25rem solid var(--background-dark-secondary);
    background-color: #efefef;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

article blockquote::before {
    content: " ";
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    margin-left: -34px;
    margin-top: 10px;
    z-index: 100;
}

article .blockquote-warning {
    background-color: rgba(255, 190, 11, 0.3);
    border-left: 0.25rem solid rgba(255, 190, 11, 1);
}

article .blockquote-warning::before {
    background-image: url("/images/warning.svg");
}

article .blockquote-error::before {
    background-image: url("/images/error.svg")
}

article .blockquote-info::before {
    background-image: url("/images/info.svg")
}

article .blockquote-error {
    background-color: rgba(255, 15, 83, 0.3);
    border-left: 0.25rem solid rgba(255, 15, 83, 1);
}

article .blockquote-info {
    background-color: rgba(102, 199, 244, 0.3);
    border-left: 0.25rem solid rgba(102, 199, 244, 1);
}

article .full-width-image {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.related_articles {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-color: #F6F7F8;
    padding-top: 1px;
    padding-bottom: 20px;
}

.related_articles .safe-area-insets {
    margin-top: 0px;
    margin-bottom: 0px;
}

.article_info .avatar {
    width: 48px;
    height: 49px;
}

.article_info {
    display: inline-flex;
    color: #9299A2;
    margin-bottom: 20px;
}

.article_info h2 {
    font-size: 16px;
}

/* Code */

code {
    font-family: "Code", monospace;
}

article p code,
article li code {
    background-color: #efefef;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 4px;
    margin: 1px;
}

article p code.inline,
article li code.inline {
    display: inline;
    background-color: inherit;
    padding: 0;
}

pre {
    margin-top: 20px;
}

pre code {
    display: block;
    background-color: #efefef;
    padding: 15px 20px;
    border-radius: 12px;
    color: var(--background-dark-secondary);
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

blockquote pre code {
    font-size: 0.85em;
}

pre code .highlight {
    border: 1px solid #ffe000;
    border-radius: 5px;
    padding: 1px 2px 3px 2px;
}

/* Adaptation */

@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
    @media(prefers-color-scheme: light) {
        .header {
            background: #f5f5f7ac;
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter:saturate(180%) blur(20px)
        }
    }
    
    @media(prefers-color-scheme: dark) {
        .header {
            background: rgba(0, 0, 0, 0.4);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter:saturate(180%) blur(20px)
        }
    }
}

/* 48em = 768px */

@media (min-width: 48em) {
    
    .navigation {
        display: inline-flex;
        align-items: center;
        float: right;
        gap: 1rem;
    }
    
    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 44px;
        overflow: hidden;
    }
    
    .navigation-item-link {
        padding: 20px 15px;
        float: left;
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-restriction {
        max-width: 1010px
    }
    
    .header-container {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .article-item-new {
        display: flex;
        justify-content: center;
    }
    
    .footer-container {
        width: 1010px
    }
    
    .article-item::after {
        position: relative;
        padding: 16px;
        object-fit: cover;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 0;
    }
    
    .article-item:hover {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        border-radius: 8px;
    }
    
    .footer .avatar {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 600px) {
    
    .article-item-new a {
        display: block;
    }
    
    .article-item-new h3 {
        font-size: 17px;
    }
    
    .safe-area-insets {
        margin-top: 54px;
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    
    h1 {
        font-size: 28px;
    }
    
    .collection {
        display: block;
        justify-content: space-between;
    }
    
    .footer-container {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .container article {
        margin-bottom: 24px;
    }
    
    .footer .avatar {
        width: 70px;
        height: 70px;
    }
    
    blockquote pre code {
        margin-left: -12px;
        margin-right: -12px;
        border-radius: 12px;
    }
    
    pre code {
        margin-left: -16px;
        margin-right: -16px;
        border-radius: 0px;
        padding: 16px;
    }
}

@media(prefers-color-scheme: light) {
    h1, h2, h3, h4, h5, h6 {
        color: #342E37;
    }
    
    .navigation-item-link {
        color: var(--dark);
    }
    
    .navigation-item:hover .navigation-item-link {
        color: var(--glyph-gray-secondary-alt);
    }
}

@media(prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: var(--light);
    }
    
    article blockquote {
        border-left: 0.25rem solid #dddddd;
        background-color: var(--background-dark-secondary);
    }
    
    .navigation-item-link {
        color: var(--glyph-gray-secondary);
    }
    
    .navigation-item-link:hover {
        color: var(--light);
    }
    
    .separator {
        border-top: 0.5px solid rgba(255,255,255,0.1);
    }
    
    body {
        background-color: var(--background-dark);
    }
    
    .article-item h3 {
        color: var(--light);
    }
    
    .article-item {
        background-color: var(--background-dark-secondary);
        border-radius: 8px;
    }
    
    .article-item-new h3 {
        color: #dddddd;
    }
    
    .article-item-new h1 {
        color: var(--light);
    }
    
    p {
        color: #dddddd;
    }
    
    .author_info h2 {
        padding: 6px auto;
        color: #FFE066;
    }
    
    article p code,
    article li code {
        background-color: var(--background-dark-secondary);
    }
    
    .author_info p {
        color: #dddddd;
    }
    
    pre code {
        background-color: var(--background-dark-secondary);
        color: #a9bcbc;
    }
    
    article .article-image p {
        color: #9299A2;
    }
    
    .article_info {
        color: #9299A2;
    }
    
    .related_articles {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
