
:root {

    /* Colors */

    --text-color: #333333;
    --dark: #000;
    --light: #FFF;
    --glyph-gray: #F5F5F7;
    --glyph-gray-override: #1D1D1F;
    --glyph-gray-secondary: #86868B;
    --glyph-gray-secondary-alt: #A1A1A6;
    --glyph-gray-tertiary: #6E6E73;
    --glyph-blue: #2997FF;
    --glyph-blue-override: #0066CC;
    --glyph-orange: #F56300;
    --glyph-red: #FF3037;
    --glyph-green: #03A10E;
    --background-dark: #1D1D1D;
    --background-dark-secondary: #111111;
    --fill: #000;
    --fill-override: #FFF;
    --fill-gray: #F5F5F7;
    --fill-blue: #0071E3;
    --fill-orange: #F56300;
    --fill-red: #FF3037;
    --fill-green: #03A10E;
    --fill-yellow: #AD8200;
    --fill-secondary: #161617;
    --fill-secondary-alt: #141414;
    --fill-secondary-alt-override: #FAFAFA;
    --fill-blue-secondary: #162B5B;
    --fill-gray-secondary: #6E6E73;
    --fill-gray-secondary-alt: #141414;
    --color-fill-green-secondary: #002b03;
    --color-fill-light-blue-secondary: #002a51;
    --color-fill-light-gray-secondary: #323232;
    --color-fill-orange-secondary: #290d00;
    --color-fill-purple-secondary: #190325;
    --color-fill-red-secondary: #300;
    --color-fill-teal-secondary: #002d2b;
    --color-fill-yellow-secondary: #2b2000;
    --fill-tertiary: #1D1D1F;
    --fill-tertiary-alt: #111;
    --fill-tertiary-override: #F5F5F7;
    --fill-blue-tertiary: #081021;
    --fill-gray-tertiary: #424245;
    --fill-gray-quaternary: #333336;
    --fill-gray-quinary: #222;
    --fill-blue-gradient-light: #0E3768;
    --fill-blue-gradient-dark: #07172A;
    --fill-gradient-gray-start: #161616;
    --fill-gradient-gray-end: #000;
    --fill-table: #1D1D1F;
    --app-store-glyph-tile: #EEE;
    --app-store-fill-tile: #1f1f21;
    --donate: #FF2D55;
    --donate-darker: #FF2D55CC;
    --toggle-color-background: #1D1D1F;
    --toggle-color-text: #0071E3;
    --color-button-background: #0071E3;
    --color-button-text: #FFFFFF;
    --color-figure-blue: #2997ff;
    --color-figure-gray: #f5f5f7;
    --color-figure-gray-secondary: #86868b;
    --color-figure-gray-secondary-alt: #a1a1a6;
    --color-figure-gray-tertiary: #6e6e73;
    --color-figure-green: #03a10e;
    --color-figure-light-blue: #7dc1ff;
    --color-figure-light-gray: #9a9a9e;
    --color-figure-orange: #f56300;
    --color-figure-pink: #f14bf1;
    --color-figure-purple: #a95ed2;
    --color-figure-red: #ff3037;
    --color-figure-teal: #00c2bb;
    --color-figure-yellow: #936d00;
    --color-highlight-green: #e4fee6;
    --color-highlight-red: #f8dddd;
    --color-tutorials-teal: #38a39c;
    --color-donate-level-amount-color: #bababa;
    --color-donate-level-bronze-color: #9f7d6c;
    --color-donate-level-silver-color: #bbb;
    --color-donate-level-gold-color: #c0b04bff;
    --color-donate-level-platinum-color: #c5c5c5;
    --color-donate-level-titanium-color: #848484;
    --color-donate-level-diamond-color: #a3daeb;
    --color-donate-level-patron-color: #dcdcdc;
    --color-aside-deprecated: var( --color-figure-orange);
    --color-aside-deprecated-background: var( --color-fill-orange-secondary);
    --color-aside-deprecated-border: var( --color-figure-orange);
    --color-aside-experiment: var( --color-figure-purple);
    --color-aside-experiment-background: var( --color-fill-purple-secondary);
    --color-aside-experiment-border: var( --color-figure-purple);
    --color-aside-important: var( --color-figure-yellow);
    --color-aside-important-background: var( --color-fill-yellow-secondary);
    --color-aside-important-border: var( --color-figure-yellow);
    --color-aside-note: var( --color-figure-light-gray);
    --color-aside-note-background: var( --color-fill-light-gray-secondary);
    --color-aside-note-border: var( --color-figure-light-gray);
    --color-aside-tip: var( --color-figure-teal);
    --color-aside-tip-background: var( --color-fill-teal-secondary);
    --color-aside-tip-border: var( --color-figure-teal);
    --color-aside-warning: var( --color-figure-red);
    --color-aside-warning-background: var( --color-fill-red-secondary);
    --color-aside-warning-border: var( --color-figure-red);

    /* Constants */

    --corner-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #FFFFFF;
    }
}