/* Imports */

@import "tags.css";
@import "codesyntax.css";
@import "socials.css";
@import "navigation.css";
@import "root.css";

/* Fonts */

@font-face {
    font-family: "Code";
    src: url(/Fonts/JetBrainsMono-Regular.ttf);
}

/* Global */

a {
    text-decoration: none!important;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #342E37;
}

h1 {
    font-size:40px
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* Styles */

.separator {
    border-top: 0.5px solid rgba(0,0,0,0.1);
}

.content-restriction {
    max-width: 100%;
}

.safe-area-insets {
    margin-top: 80px;
    margin-bottom: 32px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.collection {
    display: grid;
    grid-template-columns: repeat( auto-fit, 1fr );
    grid-auto-rows: min-content;
    grid-gap: 20px;
    grid-template-rows: auto;
}

.footer {
    width: 100%;
    height: 48px;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.article-footer {
    padding-top: 20px;
}

.article-footer .tags li {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 7px;
}

.avatar {
    border-radius: 50%;
}

.written_by {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.written_by h3 {
    font-size: 0.85em;
    color: #9299A2;
    margin-bottom: 20px;
}

.about_author_container {
    display: inline-flex;
}

.author_info {
    display: inline;
    margin: auto 20px;
}

.author_info p {
    margin: 0;
    color: #333333;
}

.author_info h2 {
    margin: 2px 0px;
    padding: 6px auto;
    color: #f79e05;
}

.written_by .avatar {
    width: 100px;
    height: 100px;
}

/* Articles */

.article-item-new {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
}

.article-item-new-header {
    display: flex;
}

.article-item-new-sign {
    display: block;
    float: left;
    padding: 3px 6px;
    font-size: 0.65em;
    border-radius: 8px;
    margin: 8px 8px auto 8px;
    background-color: #FFE066;
}

.article-item-new-subtitle {
    padding: 8px 0px;
}

.article-date {
    font-size: 14px;
    color: #919785;
    margin: 8px 0px;
}

.article-item-new-content {
    padding-left: 16px;
    display: inline-block;
    margin: auto;
}

.article-item-new-content .tags li {
    font-size: 1em;
}

.article-item-new h3 {
    margin: 0;
}

.article-item-new h1 {
    margin: 8px 0px;
}

.article-item-new img {
    width: 100%;
    min-height: 20em;
    max-height: 30em;
    object-fit: cover;
    border-radius: 8px;
}

.article-item-new:hover {
    text-decoration: none !important;
    cursor:pointer
}

.article-item-new:hover h1 {
    text-decoration: underline !important;
    cursor:pointer
}

.article-item-description {
    margin: 0;
}

.article-item:hover {
    cursor: pointer!important;
}

.article-item h3 {
    color: #001732;
    font-size: 20px;
    margin: 8px 0px;
}

.article-item {
    position: relative;
    display: block;
    object-fit: cover;
    box-shadow: none;
    border-radius: 8px;
    background-color: var(--fill-gray);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.article-item-info {
    display: flexbox;
    justify-content: space-between;
    margin: 0;
}

/* Fade in the pseudo-element with the bigger shadow */
.article-item:hover::after {
    opacity: 1;
}

.article-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.article-item-content {
    padding: 0 16px 16px 16px;
}

/* Tags */

.tags {
    overflow: hidden;
    font-size: 0.9em;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

.tags li {
    display: block;
    float: left;
    padding: 3px 6px;
    margin-right: 10px;
    font-size: 0.85em;
    border-radius: 8px;
    margin-bottom: 7px;
}

article .tags {
    display: flex;
    margin-bottom: 5px;
}

.tags a {
    cursor: pointer;
}

.tag-in-search {
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 3px 6px;
    margin-right: 10px;
}

/* Article */

article twitter-widget {
    margin-left: auto;
    margin-right: auto;
}

article img {
    max-width: 100%;
    max-height: 100%;
}

article .article-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

article .article-image p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #9299A2;
    
}

article p {
    margin-top: 20px;
    font-size: 1.05em;
    line-height: 1.5;
}

article blockquote {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-left: 0.25rem solid var(--background-dark-secondary);
    background-color: #efefef;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

article blockquote::before {
    content: " ";
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    margin-left: -34px;
    margin-top: 10px;
    z-index: 100;
}

article .blockquote-warning {
    background-color: rgba(255, 190, 11, 0.3);
    border-left: 0.25rem solid rgba(255, 190, 11, 1);
}

article .blockquote-warning::before {
    background-image: url("/images/warning.svg");
}

article .blockquote-error::before {
    background-image: url("/images/error.svg")
}

article .blockquote-info::before {
    background-image: url("/images/info.svg")
}

article .blockquote-error {
    background-color: rgba(255, 15, 83, 0.3);
    border-left: 0.25rem solid rgba(255, 15, 83, 1);
}

article .blockquote-info {
    background-color: rgba(102, 199, 244, 0.3);
    border-left: 0.25rem solid rgba(102, 199, 244, 1);
}

article .full-width-image {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.related_articles {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-color: #F6F7F8;
    padding-top: 1px;
    padding-bottom: 20px;
}

.related_articles .safe-area-insets {
    margin-top: 0px;
    margin-bottom: 0px;
}

.article_info .avatar {
    width: 48px;
    height: 49px;
}

.article_info {
    display: inline-flex;
    color: #9299A2;
    margin-bottom: 20px;
}

.article_info h2 {
    font-size: 16px;
}

/* Code */

code {
    font-family: "Code", monospace;
}

article p code,
article li code {
    background-color: #efefef;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 4px;
    margin: 1px;
}

article p code.inline,
article li code.inline {
    display: inline;
    background-color: inherit;
    padding: 0;
}

pre {
    margin-top: 20px;
}

pre code {
    display: block;
    background-color: #efefef;
    padding: 15px 20px;
    border-radius: 12px;
    color: var(--background-dark-secondary);
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

blockquote pre code {
    font-size: 0.85em;
}

pre code .highlight {
    border: 1px solid #ffe000;
    border-radius: 5px;
    padding: 1px 2px 3px 2px;
}

/* 48em = 768px big screen */

@media (min-width: 42em) {
    
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-restriction {
        max-width: 1010px
    }
    
    .article-item-new {
        display: flex;
        justify-content: center;
    }
    
    .footer-container {
        width: 1010px
    }
    
    .article-item::after {
        position: relative;
        padding: 16px;
        object-fit: cover;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 0;
    }
    
    .article-item:hover {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        border-radius: 8px;
    }
    
    .footer .avatar {
        width: 100px;
        height: 100px;
    }
}

/* Low screen */

@media (max-width: 42em) {
    
    .article-item-new a {
        display: block;
    }
    
    .article-item-new h3 {
        font-size: 17px;
    }
    
    .safe-area-insets {
        margin-top: 86px;
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .written_by .avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    h1 {
        font-size: 28px;
    }
    
    .collection {
        display: block;
        justify-content: space-between;
    }
    
    .footer-container {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .container article {
        margin-bottom: 24px;
    }
    
    .footer .avatar {
        width: 70px;
        height: 70px;
    }
    
    blockquote pre code {
        margin-left: -12px;
        margin-right: -12px;
        border-radius: 12px;
    }
    
    pre code {
        margin-left: -16px;
        margin-right: -16px;
        border-radius: 0px;
        padding: 16px;
    }
}

@media(prefers-color-scheme: light) {
    h1, h2, h3, h4, h5, h6 {
        color: #342E37;
    }
}

@media(prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: var(--light);
    }
    
    article blockquote {
        border-left: 0.25rem solid #dddddd;
        background-color: var(--background-dark-secondary);
    }
    
    .separator {
        border-top: 0.5px solid rgba(255,255,255,0.1);
    }
    
    body {
        background-color: var(--background-dark);
    }
    
    .article-item h3 {
        color: var(--light);
    }
    
    .article-item {
        background-color: var(--background-dark-secondary);
        border-radius: 8px;
    }
    
    .article-item-new h3 {
        color: #dddddd;
    }
    
    .article-item-new h1 {
        color: var(--light);
    }
    
    p {
        color: #dddddd;
    }
    
    .author_info h2 {
        padding: 6px auto;
        color: #FFE066;
    }
    
    article p code,
    article li code {
        background-color: var(--background-dark-secondary);
    }
    
    .author_info p {
        color: #dddddd;
    }
    
    pre code {
        background-color: var(--background-dark-secondary);
        color: #a9bcbc;
    }
    
    article .article-image p {
        color: #9299A2;
    }
    
    .article_info {
        color: #9299A2;
    }
    
    .related_articles {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
